  body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color:black;
  color:ghostwhite;
  /* font-family: 'Nunito', sans-serif; */
  }

  .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .site-content {
    flex: 1;
  }

  /* Header Styles
  **************************************
  */

  header {
    background-color:#36454f;
    color:ghostwhite;
    padding:10px 0;
  }

  input#movie-input {
    margin-right:5px;
  }

  .primary-nav .row {
    margin:0 auto;
  }

  .nav {
    justify-content: flex-end;
  }

  .nav-links {
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
    margin:10px 0 5px 0;
  }
  .nav-item {
    padding:0 15px;
  }

  .nav-item a {
    color:ghostwhite;
    transition: all .3s;
  }
  .nav-item a:hover {
    color:gold;;
    text-decoration: none;
  }

  /* Main content Container Styles
  **************************************
  */
  .main-content {
    background-color:whitesmoke;
    color:black;
    padding:20px;
    margin-top:10px;
    margin-bottom:10px;
    height:85vh;
    border-radius:5px;

  }


/* Title Styles
  **************************************
  */
  .title {
    margin:0 auto;
  }
  .title h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 4.5rem;
    margin:0 auto;
    text-transform: uppercase;
    color:gold;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
  }

  .description p {
    margin:0 auto;
    padding:5px 0;
    font-size: 18px;
  }


/* displayed content styles
  **************************************
  */

  #movie-title {
    margin:0 auto;
    text-align: center;
  }

  #movie-title h2 {
    text-transform: uppercase;
    font-size: 3em;
  }
  #actors-view {
    margin:0 auto;
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
  }

  #actors-view .btn-info {
    margin:10px;
  }

  .display-content h2 {
    margin:0 auto;
  }

  .display-gifs {
    margin:0 auto;
  }

  #gif-display-area {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }

  #gif-display-area img {
    margin:5px;

  }

  /* Utility */
  .vert-center {
    position: relative;
    top: 50%;
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
  }


  footer {
    padding-bottom:1px;
    background-color:#36454f;
  }


/*Zhi's stuff to make the heart work*/
#gif-display-area img {
  position: relative;
}

.heart {
  cursor: pointer;
  color:white;
  position: relative;
    bottom: -86px;
    right:30px;
}

.heart.favorite {
  color: red;
}
